Package: _PACKAGE_
Version: _VERSION_
Architecture: all
Depends: oracle-j2sdk1.8, cosmos-collectd, cosmos-jmx, stream-relay
Section: flipkart/w3
Priority: standard
Maintainer: Sherlock Dev <sherlock-dev@flipkart.com>
Description: Flash - service for autosuggest
